
    <main class="accueil">
        
        <section class="background">
            <div class="blabla">
                <h1 class="titreAccueil">Bienvenue chez Multi Brico</h1>
                <p class="paragAccueil">Votre partenire de confiance pour tous vos petits travaux à domicile !</p>
            </div>
            
        </section>

        <section class="presentation">
            <h2>Qui sommes-nous ?</h2>
            <p class="presAccueil">Des experts du bricolage à votre service. Chez multiBricolage nous réalisons vos petits travaux avec soin, efficacité et transparence. </p>
            <p class="presAccueil"> Notre équipe intervient rapidement pour vous aider à améliorer votre intérieur </p>
        </section>

        <section class="engagements">
            <h2>Nos engagements</h2>
            <ul class="engas">
                <li>Travail rapide et soigné</li>
                <li>Devis gratuit</li>
                <li>Intérvention à domicile</li>
                <li>Tarifs transparents</li>
            </ul>
            <a href="?route=Services" class="btn-primary">Découvrir nos services</a>
        </section>

    </main>
