
    <main class="realisations">
      <h1 class="titreRealisations">Nos Réalisations</h1>
      <section class="carousel">
       
        <div class="slide">
          <img src="assets/img/photo.jpg" class="slide active" alt="Image 1">
          <img src="assets/img/logo-AB-Toiture.jpg" class="slide" alt="Image 2">
          <img src="assets/img/wood-texture.jpg" class="slide" alt="Image 3">
        </div>
        <button class="btn" id="prev">&#10096</button>
        <button class="btn" id="next">&#10097</button>
      </section>
    </main>
 <script src="assets/js/realisations.js"></script>   
