
    <main class="services">
       <h1 class="titreServices">Nos Services</h1>
       <section class="containerServices">
        <section class="services">
            <div class="service-item">
                <img class="imgService" src="assets/img/photo.jpg" alt="image1">
                <h2>Service 1</h2>
                <p class="paragService">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor, dolor tempus semper ultrices, erat ex consectetur lectus, vel congue neque orci in nisi. Aenean quis tortor ac orci tristique fringilla imperdiet vel purus. Fusce purus tortor, feugiat id justo et, posuere vehicula risus. Nam ac facilisis lacus. Praesent molestie rhoncus vehicula. Praesent vestibulum cursus convallis. Phasellus maximus tellus quis eros vulputate, vitae auctor diam imperdiet. Fusce ultrices felis ipsum, eget scelerisque erat efficitur in.</p>
            </div>
           </section>
           <section class="services">
            <div class="service-item">
                <img class="imgService" src="assets/img/photo.jpg" alt="image1">
                <h2>Service 2</h2>
                <p class="paragService">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor, dolor tempus semper ultrices, erat ex consectetur lectus, vel congue neque orci in nisi. Aenean quis tortor ac orci tristique fringilla imperdiet vel purus. Fusce purus tortor, feugiat id justo et, posuere vehicula risus. Nam ac facilisis lacus. Praesent molestie rhoncus vehicula. Praesent vestibulum cursus convallis. Phasellus maximus tellus quis eros vulputate, vitae auctor diam imperdiet. Fusce ultrices felis ipsum, eget scelerisque erat efficitur in.</p>
            </div>
            
                
        
           </section>
           <section class="services">
            <div class="service-item">
                <img class="imgService" src="assets/img/photo.jpg" alt="image1">
                <h2>Service 3</h2>
                <p class="paragService">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor, dolor tempus semper ultrices, erat ex consectetur lectus, vel congue neque orci in nisi. Aenean quis tortor ac orci tristique fringilla imperdiet vel purus. Fusce purus tortor, feugiat id justo et, posuere vehicula risus. Nam ac facilisis lacus. Praesent molestie rhoncus vehicula. Praesent vestibulum cursus convallis. Phasellus maximus tellus quis eros vulputate, vitae auctor diam imperdiet. Fusce ultrices felis ipsum, eget scelerisque erat efficitur in.</p>
            </div>
            
           </section>
           <section class="services">
            <div class="service-item">
                <img class="imgService" src="assets/img/photo.jpg" alt="image1">
                <h2>Service 4</h2>
                <p class="paragService">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor, dolor tempus semper ultrices, erat ex consectetur lectus, vel congue neque orci in nisi. Aenean quis tortor ac orci tristique fringilla imperdiet vel purus. Fusce purus tortor, feugiat id justo et, posuere vehicula risus. Nam ac facilisis lacus. Praesent molestie rhoncus vehicula. Praesent vestibulum cursus convallis. Phasellus maximus tellus quis eros vulputate, vitae auctor diam imperdiet. Fusce ultrices felis ipsum, eget scelerisque erat efficitur in.</p>
            </div>
            
                
        
           </section>
       </section>
       
    </main>
