@font-face {
    font-family: "openSans";
    src:
      local("OpenSans"),
      url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    }
*{
    margin: 0;
    padding: 0;
}

.devis{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 2%
}

h1{
    margin-bottom: 2%;
    font-size: 2.5rem;
    font-family: "OpenSans";
  }



.containerDevis{
    background-color: beige;
    width: 100%;
    border: 2px solid #D8A848;
    border-radius: 2%;
    margin-bottom: 2%;
   
    
}

.labelDevis{
    
    display: block;
    font-weight: bold;
    font-size: large;
    margin-bottom: 1%;
    margin-left: 2%;
}

.formGroup1{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}





input,  textarea, .select{
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
}



.btnDevis{
    margin-top: 1%;
    margin-left: 7%;
    margin-bottom: 1%;

}

.submitDevis{
    width: 20%;
    background-color: #D8A848;
    padding: 1%;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: large;
}

@media (max-width: 767px){
    




    .submitDevis{
        margin-bottom: 2%;
        font-size: medium;
        width: 90%;
    }
}
